@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,700');

h1, h2, h3, h4, h5, h6 {
  font-family: map(fonts, montserrat);
}

p {
  font-family: map(fonts, open-sans);
  font-size: 16px;
  color: map(colors, gray, base);
}

a {
  font-family: map(fonts, open-sans);
  font-size: 16px;
  color: map(colors, green, base);
  text-decoration: none;
}
